@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

html {
  height: 100%;
}

.background {
  background: linear-gradient(#141e30, #243b55);
  height: 100vh;
}
.footer{
  background: linear-gradient(#141e30, #243b55);
  height: 5vh;
}
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Home Page */

.register-form,
.login-form {
  width: 65%;
  text-align: center;
  margin: 2rem auto;
  justify-content: center;
}

.form input {
  width: 50%;
  padding: 10px;
  margin: 10px;
}

.link a {
  color: #3b9ed8;
}

/* editor */

.editor {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.editor-main * {
  font-family: "Monaco", "Menlo", "Ubuntu Mono", "Droid Sans Mono", "Consolas",
    monospace !important;
  font-size: 20px !important;
  font-weight: 400 !important;
  letter-spacing: 0 !important;
}

.editor-header {
  width: 100%;
  background: white;
  padding: 20px;
  position: relative;
}

.editor-header select {
  font-family: "DM Sans", sans-serif;
  font-size: 1rem;
  color: #576871;
  padding: 10px;
  width: 200px;
  background: #f1f1f1;
  border: none;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

.editor-header select::after {
  display: none;
}

.editor-header select:focus-visible {
  border: none;
  outline: none;
}

.problem {
  width: 83%;
  margin: auto;
  margin-bottom: 3rem;
}

.problem-main {
  background-color: rgb(248, 248, 248);
  box-shadow: rgba(201, 207, 212, 0.2) 0px 8px 24px;
  padding: 2rem;
  margin-bottom: 1rem;
}

.problem h1 {
  text-align: center;
  margin-bottom: 2rem;
}

.problem p {
  margin-bottom: 20px;
  font-size: 1.2rem;
  color: #576871;
}

.problem h2 {
  margin-bottom: 15px;
}

.problem-head-info {
  width: 70%;
  margin: auto;
  margin-bottom: 4rem;
}

.problem-head-info span {
  margin: 0 10px;
}

.ace-monokai .ace_print-margin {
  display: none;
}

.select-caret {
  display: inline-block;
  fill: currentcolor;
  line-height: 1;
  stroke: currentcolor;
  stroke-width: 0;
  position: absolute;
  color: #576871;
  left: 190px;
  top: 39%;
}

.editor-run {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.custom-cases {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.custom-cases img {
  width: 15px;
  filter: invert(0.5);
  margin-left: 5px;
  transform: translateY(2px);
}

.custom-cases p {
  margin-bottom: 0;
}

.caret-reverse {
  transform: translateY(2px) rotate(180deg) !important;
}

.run-btn {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}

.run-btn p {
  color: white;
  margin-bottom: 0;
  font-weight: 600;
}

.run-btn img {
  transform: rotate(-90deg);
  width: 20px;
  filter: invert(1);
  margin-left: 5px;
}

.submit-btn {
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 20px;
}

.submit-btn p {
  margin-bottom: 0;
  color: white;
  font-weight: 600;
}

.run-submit {
  display: flex;
  align-items: center;
}

.sample-tests {
  padding: 20px;
  background: #f3f7f7;
  position: relative;
}

.sample-tests img {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 20px;
  width: 20px;
  filter: invert(0.4);
  cursor: pointer;
}

.copied {
  position: absolute;
  background: #576871;
  color: white;
  font-size: 12px;
  letter-spacing: 1px;
  right: 0;
  top: -10px;
  padding: 5px 8px;
  border-radius: 2px;
  display: none;
}

.score-timer {
  display: flex;
  align-items: center;
}
.contest_dashboard{
  height: 71vh;
}